body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1s ease-in-out;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}

#pro1,
#pro2,
#pro3,
#pro4,
#pro5,
#pro6,
#pro7,
#pro8,
#pro9,
#pro10 {
  padding: 0.75rem;
  /* margin: 1rem 0 1rem 0; */
}

#proDesc {
  margin: 1rem 0 1rem 0;
}

#pro1 #proImg {
  background-image: url("./resources/featuredProducts/sports-shoe3-600x600.jpg");
}

#pro2 #proImg {
  background-image: url("./resources/featuredProducts/sports-shoe1-600x600.jpg");
}

#pro3 #proImg {
  background-image: url("./resources/featuredProducts/product-m-jeans1-600x600.jpg");
}

#pro4 #proImg {
  background-image: url("./resources/featuredProducts/product-w-jeans2-600x600.jpg");
}

#pro5 #proImg {
  background-image: url("./resources/featuredProducts/product-w-jeans4-600x600.jpg");
}

#pro6 #proImg {
  background-image: url("./resources/featuredProducts/product-w-jeans1-600x600.jpg");
}

#pro7 #proImg {
  background-image: url("./resources/featuredProducts/product-accessory2-600x600.jpg");
}

#pro8 #proImg {
  background-image: url("./resources/featuredProducts/product-accessory1-600x600.jpg");
}

#pro9 #proImg {
  background-image: url("./resources/featuredProducts/product-bag1-600x600.jpg");
}

#pro10 #proImg {
  background-image: url("./resources/featuredProducts/product-bag3-600x600.jpg");
}

#products div:hover {
  cursor: pointer;
  transition: all 1s;
  transform: translateY(-0.5rem);
  box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.3);
}

#products div {
  transition: all 0.2s ease-in-out;
}
